/* Generales*/
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-repeat: unset;
    background: linear-gradient(180deg, rgb(0, 14, 210) 0%, rgb(0, 20, 56) 100%);
}

#uno {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    padding: 20px;
}

#valorA {
    resize: none;
    width: 30px;
    height: 25px;
}


#valorB {
    resize: none;
    width: 30px;
    height: 25px;
}


#siguiente {
    display:none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: auto;
    padding: 15px;
    margin: 20px auto;
    background-color: rgb(73, 73, 73);
    border-radius: 15px;
    box-shadow: 0 0 4px white;
}

#siguiente p {
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: 5px 40px;
}

#desafioDos {
    margin: 10px 0 10px 30px;
    width: 100px;
    padding: 4px;
}


#intentarNuevamente {
    display: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: auto;
    padding: 15px;
    margin: 20px auto;
    background-color: rgb(73, 73, 73);
    border-radius: 15px;
    box-shadow: 0 0 4px white;
}

#intentarNuevamente p {
    text-align: center;
    width: 100%;
    padding: 10px;
    margin: 5px 40px;
    color: white;
}

#regresar {
    margin: 10px auto;
    padding: 4px;
}

#dos {
    display: none;
    flex-wrap: wrap;
    width: auto;
    padding: 20px;
    }
