/* Generales*/
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(217, 0, 255);
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    background-color: green;
    border: 3px solid purple;
    margin: 20px;
    padding: 20px;
    border-radius: 30px 60px 60px 30px;
}

.sub-container {
    margin: 10px auto;
    background-color: rgb(255, 255, 255);
    border-radius: 60px 30px 30px 60px;
    border: 3px solid orange;
}

.code {
    text-align: center;
    margin: 20px auto 30px auto;
}

.code p, span {
    text-justify: distribute;
    margin: 10px;
    line-height: 12px;
}

code {
    font-weight: 800;
    color: rgb(0, 0, 0);
    text-shadow: 0 .5px 1px rgba(168, 26, 166, 0.263), 0 1px .5px rgba(64, 240, 64, 0.356);
}

.code p, span {
    font-family: 'Bree Serif', serif;
    font-weight: 900;
}

code {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

p.indication {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 3px auto;
    padding: 5px;
    width: 80%;
    background-color: green;
    border: 2px solid purple;
    border-radius: 10px;
}

p.indication > span {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 3px auto;
    padding: 5px;
    background-color: green;
    border-radius: 10px;
    color: white;
}