/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /* Generales */
   @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

   html {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 0; 
    margin: 0;
   }

   *,*:before, *:after {
    box-sizing: inherit;
   }

   body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
   }

   .container {
    width: auto;
    margin: 30px;
   }

   p, a, li {
    font-weight: 800;
font-family: 'Quicksand', sans-serif;
    color: #565555;
   }

   h1, h2, h3, h4 {
    font-family: 'Noto Serif', serif;
    font-weight: 900;
    font-size: 1.4rem;
    color: #212121;
   }

   .hero {
    background-image: url(../imagenes/bg3.gif);
    height: 100vh;
    background-repeat: unset;
    background-size: auto;
    background-position: center center;
    background-attachment: fixed;
   }

   
   .hero2 {
    background-image: url(../imagenes/main7.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
   }
   
   .hero3 {
    background-image: url(../imagenes/main8.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
   }

   
   .hero4 {
    background-image: url(../imagenes/main.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
   }

/* Menú desplegable */
   .active {
    border-bottom: 5px groove #0b10a9;
   }

/* Botón desplegable */
.dropbtn {
  background-color: #0000008a;
  color: rgb(255, 255, 255);
  padding: 20px 60px 10px 60px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 10px;
  border-radius: 0 0 10px 10px;
  border-bottom: groove 6px rgb(255, 0, 0);
}

/* Botón desplegable al pasar el mouse y enfocar */
.dropbtn:hover, .dropbtn:focus {
  background-color: #000000;
  border-color: blue;
}

/* El contenedor <div> - necesario para posicionar el contenido desplegable */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Contenido desplegable (oculto de forma predeterminada) */
.dropdown-content {
  display: none;
  position: fixed;
  padding: 6px 50px;
  background-color: #000000;
  box-shadow: 0 0 2px silver, 0 0 3px gray, 0 0 20px black;
  z-index: 1;
}

/* Enlaces dentro del menú desplegable */
.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Cambiar el color de los enlaces desplegables al pasar el mouse */
.dropdown-content a:hover {
  border-bottom: 5px solid #0d00ff;
  color: #0d00ff;
}

/* Mostrar el menú desplegable (use JS para agregar esta clase al contenedor .dropdown-content cuando el usuario haga clic en el botón desplegable) */
.show {display:block;}

  /* Header */

  header {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   }
  
  header span img {
    border-radius: 50%;
    width: 30%;
    margin: 10px auto;
   }

   header > .logo {
    margin: 0 auto 100px auto;
    padding: 40px;
   }

   div.logo h1.title {
    padding: 10px;
    margin: 0 auto;
    color: #fff;
    background-color: #000000b3;
    text-transform: uppercase;
    font-size: 2.3rem;
    text-shadow: 0 0 2px rgb(46, 1, 225), 0 0 2px #999, 0 0 20px rgb(185, 185, 185);
    border-top:8px solid rgb(60, 0, 255);
    border-bottom: 3px red solid;
   }

   div.logo p.text-title {
    padding: 30px;
    color: #000000;
    font-size: 30px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.67);
    border-top: 4px solid rgb(60, 0, 255);
    border-bottom: 7px red solid;
   }

   .container-grid {
    margin: 30px;
    padding: 0;
   }

   
   @media only screen and (min-width:892px) {
    .clearfix::after {
      content: "";
      clear: both;
      display: block;
    }
    [class*="columns"] {
      padding: 0 15px;
      float: left;
    }
    .columns1-2 {
      width: 50%;
    }
    .columns1-4 {
      width: 25%;
    }
    .columns2-4 {
      width: 50%;
    }
    .colums3-4 {
      width: 75%;
    }
    .columns1-3 {
      width: 33.3%;
    }
    .columns2-3 {
      width: 66.6%;
    }
    .columns1-5 {
      width: 20%;
    }
    .columns2-5 {
      width: 40%;
    }
    .columns3-5 {
      width: 60%;
    }
    .columns4-5 {
      width: 80%;
    }
    .columns1-1 {
      width: 100%;
    }
    }

    /* Sección de introducción */
    .introduction {
      text-align: center;
      padding: 15px;
      margin: 30px 0;
    }

    .introduction-text {
      margin-top: 90px;
    }

    #my-job {
      text-shadow: 0 1px 1px rgb(176, 176, 183), 0 2px 2px rgb(99, 99, 102), 0 1px 4px rgb(60, 60, 60);
    }

    .photo {
      border-radius: 50%;
      width: 100%;
      padding: 0;
      box-shadow: 3px -1px 18px 3px black;
    }

    /* Sección introducción complemento */
    .introduction-2 {
      text-align: center;
      padding: 25px;
      margin: 50px 0 30px 0;
    }

    .introduction-2 h1 {
      text-align: center;
      text-shadow: 0 1px 1px rgb(183, 183, 183), 0 2px 2px rgb(72, 72, 72), 0 1px 4px rgb(120, 119, 119);
      padding: 25px;
      margin: 50px 0 30px 0;
    }

    /* Sección de testimonios */
    .testimony {
      padding: 10px;
      text-align: center;
    }

    .testimony-img {
      border-radius: 50%;
      width: 80%;
      margin: 25px 0;
      box-shadow: 3px -1px 28px 3px black;
    }

    .testimony-img:hover {
      scale: 1.04;
      box-shadow: -7px -7px 38px -3px rgba(168, 144, 6, 0.432), 7px -7px 38px 3px rgba(218, 165, 32, 0.418), -7px 7px 40px 10px rgba(163, 127, 35, 0.493);
    }

    .testimony-card {
      margin: 25px 0;
    }

    .bxs-star {
      padding: 5px;
      margin: 4px;
      background-color: #000;
      border-radius: 50%;
      box-shadow: 0 1px 2px 1px gold, 0 1px 2px 1px rgb(120, 104, 14);
    }

    .bxs-star:hover {
      scale: 1.2;
    }
    
    .user-comments {
      width: 100%;
      display: inline-block;
      align-items: center;
      justify-content: center;
      padding: 2px;
      text-align: center;
      line-height: 6px;
      margin-bottom: 45px;
    }    
    
    .user-comments #Likes {
      font-size: small;
      width: 100%;
    }

    .user-comments p small {
      font-size: small;
      width: 45%;
    }

    sup {
      padding: 4px;
      margin-bottom: 15px;
    }

    i#message:hover {
      transform: rotate(-5deg);
      scale: 1.8;
      color: rgb(0, 161, 35);
      box-shadow: 0 0 1px rgb(0, 255, 13), 0 2px 12px .2px rgb(16, 121, 3);
      cursor: pointer;
    }

    .user-comments textarea {
      resize: none;
      width: 50%;
      height: 30px;
      border-radius: 7px;
    }

    .user-comments textarea:active {
      border: #6e5f1d 2px solid;
    }


    .user-comments textarea:focus {
      border: #9a9503 2px solid;
      box-shadow: 0 0 1px rgb(72, 79, 27), 0 2px 12px .2px rgb(144, 123, 16);
    }


    .user-comments textarea:hover {
      border: #a98917 2px solid;
      box-shadow: 0 0 1px rgb(135, 126, 2), 0 2px 12px .2px rgb(121, 90, 12);
    }


    #Likes {
      cursor: pointer;
    }

    i#like:hover {
      transform: rotate(-7deg);
     scale: 1.8;
     color: rgb(21, 38, 220);
     cursor: pointer;
     box-shadow: 0 0 1px rgb(2, 35, 96), 0 2px 12px .2px rgb(1, 4, 57);
    }

    i#share:hover {
      transform: rotate(-7deg);
     scale: 1.8;
     color: rgba(35, 130, 0, 0.495);
     cursor: pointer;
     box-shadow: 0 0 1px rgb(23, 53, 25), 0 2px 12px .2px rgb(107, 195, 95);
    }


    /* Sección de servicios */
    .services {
      padding: 15px;
    }

    .services img {
      width: 40%;
      transform: rotate(40deg);
      box-shadow: 3px -1px 38px 3px rgb(161, 158, 158);
      border-radius: 20% 20% 20% 0%;
      padding-left: 10px;
      padding-top: 4px;
      border-bottom: 1px solid white;
      border-right: 1px solid white;
    }

    .services img:hover {
      transform: rotate(360deg);
      scale: 1.1;
      box-shadow: 3px 1px 38px 3px rgb(161, 158, 158), 3px -1px 38px 3px rgb(161, 158, 158), 0 0 0 29px 1px silver;
    }

        /* Sección de Precios */
    .prices {
      padding: 0;
    }


    .prices h1 {
      font-size: 2.7rem;
      padding: 10px;
      text-align: center;
      margin: 50px 0;
      text-shadow: 0 1px 1px rgb(183, 183, 183), 0 2px 2px rgb(72, 72, 72), 0 1px 20px rgb(50, 49, 49);

    }

    .prices img {
      width: 20%;
      margin-top: 20px;
      text-align: center;
      border-radius: 50%;
      border: 2px groove rgb(3, 3, 3);
      box-shadow: 3px -1px 38px 3px rgb(161, 158, 158);
    }

    .prices img:hover {
      scale: 1.1;
      box-shadow: 3px -3px 18px 5px rgb(6, 6, 6);
    }

    #price1 {
      width: 100%;
      background-image: url(../imagenes/price.png);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: unset;
      box-shadow: 3px -1px 38px 3px rgb(161, 158, 158);
      border-radius: 5px;
    }

    #price2 {
      width: 100%;
      background-image: url(../imagenes/price2.png);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: unset;
      box-shadow: 3px -1px 38px 3px rgb(161, 158, 158);
      border-radius: 5px;
    }

    #price3 {
      width: 100%;
      background-image: url(../imagenes/price3.png);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: unset;
      box-shadow: 3px -1px 38px 3px rgb(161, 158, 158);
      border-radius: 5px;
    }

    #price4 {
      width: 100%;
      background-image: url(../imagenes/price4.png);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: unset;
      box-shadow: 3px -1px 38px 3px rgb(161, 158, 158);
      border-radius: 5px;
    }

    #price5 {
      width: 100%;
      height: auto;
      background-image: url(../imagenes/price5.png);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: unset;
      box-shadow: 3px -1px 38px 3px rgb(161, 158, 158);
      border-radius: 5px;
    }

    
    #price6 {
      width: 100%;
      height: auto;
      background-image: url(../imagenes/price6.jpg);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: unset;
      box-shadow: 3px -1px 38px 3px rgb(161, 158, 158);
      border-radius: 5px;
    }

    /* Sección de precios animación */

    #price1:hover {
     scale: 1.2;
     box-shadow: 1px 1px 0 black, 1px 1px 0 blue, 1px 1px 10px rgb(126, 126, 126);
    }

    #price2:hover {
      scale: 1.3;
      box-shadow: 1px 1px 0 black, 1px 1px 0 blue, 1px 1px 10px rgb(126, 126, 126);
     }

     #price3:hover {
      scale: 1.3;
      box-shadow: 1px 1px 0 black, 1px 1px 0 blue, 1px 1px 10px rgb(126, 126, 126);
     }

     #price4:hover {
      scale: 1.3;
      box-shadow: 1px 1px 0 black, 1px 1px 0 blue, 1px 1px 10px rgb(126, 126, 126);
     }

     #price5:hover {
      scale: 1.3;
      box-shadow: 1px 1px 0 black, 1px 1px 0 blue, 1px 1px 10px rgb(126, 126, 126);
     }

     #price6:hover {
      scale: 1.3;
      box-shadow: 1px 1px 0 black, 1px 1px 0 blue, 1px 1px 10px rgb(126, 126, 126);
     }

    /* Sección de precios */
    #price1 h3, p {
      font-size: 1.5rem;
      padding: 10px;
      text-align: center;
      text-shadow: 0 1px 1px rgb(255, 255, 255), 0 2px 2px rgb(181, 181, 181), 0 1px 20px rgb(224, 224, 224);
    }

    #price2 h3, p {
      font-size: 1.9rem;
      padding: 10px;
      text-align: center;
      text-shadow: 0 1px 1px rgb(255, 255, 255), 0 2px 2px rgb(181, 181, 181), 0 1px 20px rgb(224, 224, 224);
    }

    #price3 h3, p {
      font-size: 1.5rem;
      padding: 10px;
      text-align: center;
      text-shadow: 0 1px 1px rgb(255, 255, 255), 0 2px 2px rgb(181, 181, 181), 0 1px 20px rgb(224, 224, 224);
    }

    #price4 h3, p {
      font-size: 1.5rem;
      padding: 10px;
      text-align: center;
      text-shadow: 0 1px 1px rgb(255, 255, 255), 0 2px 2px rgb(181, 181, 181), 0 1px 20px rgb(224, 224, 224);
    }

    #price5 h3, p {
      font-size: 1.5rem;
      padding: 10px;
      text-align: center;
      text-shadow: 0 1px 1px rgb(255, 255, 255), 0 2px 2px rgb(181, 181, 181), 0 1px 20px rgb(224, 224, 224);
    }

    #price6 h3, p {
      font-size: 1.5rem;
      padding: 10px;
      text-align: center;
      text-shadow: 0 1px 1px rgb(255, 255, 255), 0 2px 2px rgb(181, 181, 181), 0 1px 20px rgb(224, 224, 224);
    }

    .prices-text h1{
      text-shadow: 0 1px 1px rgb(204, 204, 204), 0 2px 2px rgb(136, 136, 136), 0 1px 20px rgb(101, 101, 101);
      font-size: 1.9rem;
      text-align: center;
    }

    .prices-text p{
      font-size: 1.6rem;
      text-align: center;
    }

    /* Sección Domicilio */
    .address {
      text-align: center;
    }

    .address h2, h3 {
      font-size: 1.8rem;
      text-shadow: 0 1px 1px rgb(204, 204, 204), 0 2px 2px rgb(194, 194, 194), 0 1px 20px rgb(207, 207, 207);
    }

    
   .address i#whatsapp {
    font-size: 20px;
    margin: 3px;
    padding: 5px;
    background-color: green;
    color: #fff;
    border-radius: 40%;
    border: 2px groove #0b4306;
   }

   .address i#whatsapp:hover {
    scale: 1.5;
    box-shadow: 1px 1px 15px rgb(3, 76, 10);
   }

   .address i#gmail {
    font-size: 20px;
    margin: 3px;
    padding: 5px;
    background-color: red;
    border-radius: 40%;
    color: #fff;
    border: 2px groove #980909;
   }

   .address i#gmail:hover {
    scale: 1.5;
    box-shadow: 1px 1px 15px rgb(252, 2, 2);
   }

    /* Sección Formulario */
    #section_form_contain {
      float: none;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 20px;
      margin: 20px auto;
    }
   
    section#text_form_inputs {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 10px;
      margin: 10px auto;
    }

    div.text_form_div {
      width: 100%;
      margin: 10px auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    div.form_user_contain {
      width: 100%;
      margin: 20px auto;
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .input-space {
      margin: 5px auto;
    }

    input {
      padding: 10px;
      margin: 5px auto;
      border: #000 solid 2px;
      border-radius: 7px;
    }

    input:focus {
      cursor: pointer;
      border: #101554 solid 1px;
    }
    
    input:active {
      cursor: pointer;
      border: #090931 solid 1px;
    }

    input:hover {
      cursor: pointer;
      border: #0b10a9 solid 2px;
      box-shadow: 0 1px 1px rgb(24, 24, 154), 0 0 10px rgb(2, 2, 82);
    }

    .submit {
      width: 50%;
      margin: 5px auto;
    }

    #send {
      width: 100%;
      background-color: #0d00ff;
      color: #fff;
      padding: 7px 40px;
      margin: 7px auto;
      border: #000 solid 2px;
      border-radius: 7px;
      text-align: center;
    }

    #send:focus {
      cursor: pointer;
      box-shadow: 0 1px 1px rgb(24, 24, 154), 0 0 10px rgb(2, 2, 82);
      text-shadow: 0 1px 1px rgb(24, 24, 154), 0 0 10px rgb(2, 2, 82);
      border: #fff 1px groove;
    }


    #send:active {
      cursor: pointer;
      box-shadow: 0 1px 1px rgb(24, 24, 154), 0 0 10px rgb(2, 2, 82);
      text-shadow: 0 1px 1px rgb(24, 24, 154), 0 0 10px rgb(2, 2, 82);
      border: #fff 1px groove;
    }


    #send:hover {
      cursor: pointer;
      box-shadow: 0 1px 1px rgb(24, 24, 154), 0 0 10px rgb(2, 2, 82);
      text-shadow: 0 1px 1px rgb(24, 24, 154), 0 0 10px rgb(2, 2, 82);
      border: #fff 1px groove;
    }

    /* Footer */
    #footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: auto;
      height: auto;
      padding: 10px;
      color: #fff;
      background-color: #000;
    }

    .contain_footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin: 0;
      background-color: #000;
      color: #fff
    }

    #my-footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 10px;
      margin: 0;
      background-color: #000;
    }

    .contents {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 20px;
      background-color: #000;
      height: auto;
      color: #fff
    }

    .social-media {
      width: 33%;
      position: relative;
      padding: 10px;
      text-align: center;
    }

    .email {
      width: 33%;
      position: relative;
      padding: 0;
      text-align: center;
    }

    .copy {
      width: 33%;
      position: relative;
      padding: 0;
      text-align: center;
    }

   footer i {
    padding: 0;
    margin: 5px;
   }

   footer h4 {
    color: #fff;
   }

   footer p {
    font-size: 20px;
    text-shadow: 0 0 10px black;
    color: #fff;
   }
   footer a.icono {
    text-decoration: none;
   }

   .copy p a {
    cursor: pointer;
    scale: 1.3;
   }

   .copy p a:hover {
    color: rgb(255, 255, 255);
    scale: 1.2;
    text-shadow: 0 1px 1px rgb(43, 43, 239), 0 0 1px rgb(43, 43, 239);;
   }

   /* Iconos */

   i#facebook {
    font-size: 18px;
    padding: 5px;
    color: rgb(16, 16, 203);
    background-color: #fff;
    border-radius: 40%;
    border: 1px groove rgb(16, 16, 203);
   }

   i#facebook:hover {
    scale: 1.5;
    box-shadow: 2px 2px 5px white;
   }

   i#instagram {
    font-size: 18px;
    padding: 5px;
    color: #c26f4e ;
    background-color: #fff;
    border-radius: 40%;
    border: 1px groove rgb(233, 152, 71);
   }

   i#instagram:hover {
    scale: 1.5;
    box-shadow: 2px 2px 5px white;
   }

   
   i#twitter {
    font-size: 18px;
    padding: 5px;
    color: rgb(80, 135, 218);
    background-color: #fff;
    border-radius: 40%;
    border: 1px groove rgb(49, 107, 215);
   }

   i#twitter:hover {
    scale: 1.5;
    box-shadow: 2px 2px 5px white;
   }

     
   i#tiktok {
    font-size: 18px;
    padding: 5px;
    color: rgb(0, 0, 0);
    background-color: #fff;
    border-radius: 40%;
    border: 1px groove rgb(255, 255, 255);
   }

   i#tiktok:hover {
    scale: 1.5;
    box-shadow: 2px 2px 5px white;
   }

   
   i#youtube {
    font-size: 18px;
    padding: 5px;
    color: red;
    border-radius: 40%;
    background-color: #fff;
    border: 1px groove #f00808;
   }

   i#youtube:hover {
    scale: 1.5;
    box-shadow: 2px 2px 5px white;
   }

   footer i#whatsapp {
    font-size: 18px;
    padding: 5px;
    color: green;
    background-color: #fff;
    border-radius: 40%;
    border: 1px groove #0b7801;
   }

   footer i#whatsapp:hover {
    scale: 1.5;
    box-shadow: 2px 2px 5px white;
   }

   footer i#gmail {
    font-size: 18px;
    padding: 5px;
    color: red;
    border-radius: 40%;
    background-color: #fff;
    border: 1px groove #f00808;
   }

   footer i#gmail:hover {
    scale: 1.5;
    box-shadow: 2px 2px 5px white;
   }

   
   */
/* 
==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
  
  .container {
    margin: 0;
  }
  .container-grid {
    margin: 0;
  }
  .columns1-1 {
    margin: 1px;
    padding: 5px;
  }
 .cont-img .img-barber {
    width: 50%;
  }
  
       /* Sección de precios*/

       .prices {
        padding: 10px;
       }

     /* Sección de precios animación */

     #price1:hover {
      scale: 1.1;
      box-shadow: 1px 1px 0 black, 1px 1px 0 blue, 1px 1px 10px rgb(126, 126, 126);
     }
 
     #price2:hover {
       scale: 1.1;
       box-shadow: 1px 1px 0 black, 1px 1px 0 blue, 1px 1px 10px rgb(126, 126, 126);
      }
 
      #price3:hover {
       scale: 1.1;
       box-shadow: 1px 1px 0 black, 1px 1px 0 blue, 1px 1px 10px rgb(126, 126, 126);
      }
 
      #price4:hover {
       scale: 1.1;
       box-shadow: 1px 1px 0 black, 1px 1px 0 blue, 1px 1px 10px rgb(126, 126, 126);
      }
 
      #price5:hover {
       scale: 1.1;
       box-shadow: 1px 1px 0 black, 1px 1px 0 blue, 1px 1px 10px rgb(126, 126, 126);
      }
 
      #price6:hover {
       scale: 1.1;
       box-shadow: 1px 1px 0 black, 1px 1px 0 blue, 1px 1px 10px rgb(126, 126, 126);
      }

    /* Footer */
    #footer {
      display: flex;
      flex-wrap: wrap;
      width: auto;
      height: auto;
      color: #fff;
    }

    .contain_footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 5px;
      color: #fff
    }

    #my-footer {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: 10px;
      padding: 5px;
      background-color: #000;
    }

    .contents {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 20px;
      padding: 10px;
      background-color: #000;
      height: auto;
      color: #fff
    }

    .social-media {
      width: 100%;
      position: relative;
      padding: 0;
      text-align: center;
    }

    .email {
      width: 100%;
      position: relative;
      padding: 0;
      text-align: center;
    }

    .copy {
      width: 100%;
      position: relative;
      padding: 0;
      text-align: center;
    }
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

