/* Generales */
html {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0; 
    background-color: #2B807B;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: auto;
    margin: 30px;
}

.recuadro {
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f1f1f1;
    max-width: 600px;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 1px gray, 0 1px 2px gray, 1px 2px 5px black;
    height: auto;
}

h1, p {
    padding: 10px;
    font-weight: 900;
}

p {
    font-size: 24px;
}

button {
    padding: 10px;
    background-color: dimgrey;
    color: white;
    margin: 10px auto;
    border-radius: 8px;
    border: 2px solid gray;
    user-select: none;
    transition-duration: 0.4s;
}

.recuadro:hover {
   background-color: lavenderblush; 
   box-shadow: 0 1px 2px rgb(0, 0, 0), 0 2px 10px black, 1px 2px 0 gray;
   cursor: pointer;
}

button:hover {
    background-color: black;
    box-shadow: 0 1px 2px gray, 0 2px 10px black, 1px 2px 0 gray;
    cursor: pointer;
}

@media (min-width:130px) and (max-width:260px) {
    .container {
        margin: 0;
        padding: 0;
    }
    div.recuadro {
        width: 100%;
        margin: 0;
        padding: 0;
        border: none;
    }
    div.recuadro:hover {
        background-color: transparent;
    }
    div.recuadro h1, p {
        padding: 1px;
    }
    #title {
        font-size: 10px;
        padding: 0;
        margin: 0;
    }
    .div.recuadro h1 {
        font-size: 10px;
        padding: 0;
        margin: 0;
    }
    .div.recuadro p {
        font-size: 8px;
        padding: 0;
        margin: 0;
    }
    .div.recuadro button {
        font-size: 8px;
        padding: 2px;
    }
}