/* Generales */
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

#on {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

#on video {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  overflow-y: hidden;
  overflow-x: hidden;
}

/* Botón de incio */
#start {
  padding: 5px 60px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 30px;
  margin-right: 30px;
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgb(34, 30, 1) 100%);
  border-radius: 20px;
  border: 2px rgb(217, 196, 6) groove;
  box-shadow: 0 1px 5px rgb(129, 127, 2), 0 1px 4px rgb(238, 232, 166);
  color: rgb(0, 0, 0);
  font-weight: bold;
  text-shadow: 1px 2px 1px rgb(115, 107, 0), 1px 2px 2px rgb(128, 91, 5), 2px 3px 8px rgb(181, 181, 181);
}

 #buttonInit:hover {
  transform: scale(1.2);
  background-color: rgb(146, 149, 3);
  border-color: rgb(118, 126, 6);
  box-shadow: 0 1px 5px rgb(197, 181, 6), 0 1px 4px rgb(193, 219, 2);
  color: white;
}

/* Portada */
#contentInit {
  justify-content: center;
  align-items: center;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url(../imgs/img-colores-rgb.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0 ;
  overflow: hidden;
  width:100%;
  height: 100vh;
  transition: all ease 4s;
}

#contentInit p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  text-align: center;
  padding: 5px 10px;
  margin: 500px auto 40px auto;
  transition: all 11s;
}

/* Imagen logo */
.img-logo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  border-radius: 50%;
}

/* Imagen */
#logo {
  border-radius: 50%;
  border: 2px solid rgb(0, 123, 255);
  margin: 3px auto;
}


/* Contenedores */
#container {
  width: 60vw;
  max-width: 500px;
  height:auto;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5%;
  box-shadow: 0 1px 2px white, 0 0 5px silver, 0 0 10px black;
}

.color {
  padding: 0 20px;
  margin: 1px;
  font-size: 1.3em;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

label, p {
  margin: 7px;
}

.button-div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 2px 40px;
  margin: 5px auto;
  justify-self: center;
  align-items: center;
}

#addColor {
  padding: 5px 40px;
  margin: 2px auto;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  color: white;
  border: 2px rgb(97, 97, 97) groove;
}

#addColor:hover {
  background-color: rgb(0, 23, 194);
  border-color: rgb(32, 48, 218);
  transform: scale(1.1);
}

#codeColor {
  margin: 3px auto;
  text-align: center;
  font-size: .8rem;
  font-weight: bold;
}

#send {
  padding: 5px 55px;
  margin: 2px auto;
  background-color: rgb(0, 255, 4);
  border-radius: 20px;
  border: 2px rgb(8, 111, 0) groove;
}

#send:hover {
  padding: 5px 50px;
  margin: 2px auto;
  background-color: rgb(4, 179, 7);
  border-radius: 20px;
  color: white;
  border: 2px rgb(19, 248, 2) groove;
}

#listColor{
  display: none;
  flex-wrap: wrap;
  background-color: white;
  margin: 50px auto;
  border-radius: 20px;
  padding: 5px 20px;
  box-shadow: 0 1px 2px white, 0 0 5px silver, 0 0 10px black;
  justify-content: center;
  align-items: center;
}

#closeList {
  background-color: rgb(1, 105, 223);
  padding: 5px 10px;
  border-radius: 20px;
  border: 2px rgb(4, 66, 189) groove;
}

#closeList:hover {
  background-color: rgb(3, 117, 248);
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  border: 2px rgb(4, 66, 189) groove;
}


/* Párrafos de còdigos de colores seleccionados */
#listColor {
  display: none;
  flex-wrap: wrap;
  background-color: white;
  width: 50%;
  height: auto;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  border-radius: 10px;
  text-align: left;
  right: 0;
  bottom: 0;
}

#listColor h3 {
  font-size: 2rem;
  width: 100%;
  margin: 5px auto;
  text-align: center;
  font-weight: bold;
  transition: all 3s ease-in-out;
}

.cuestionColor {
  list-style: none;
  font-weight: 300;
}