/* Generales */
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
}

/* Inicio */
#contentInit {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url(../colores-rgb/imgs/img-colores-rgb.svg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0 ;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

#contentInit h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  text-shadow: 1px 2px 1px rgb(43, 1, 74), 1px 2px 2px rgb(228, 93, 3), 2px 3px 8px rgb(255, 255, 255);
  color: rgb(226, 226, 226);
  font-size: 3.2rem;
  text-align: center;
  padding: 40px 10px;
  margin: 40px;
  transition: all 1s ease-in;
}

/* Botón de incio */
#buttonInit {
  padding: 5px 60px;
  float: right;
  margin: 10px 20px 50px 20px;
  background-color: rgb(17, 169, 9);
  border-radius: 20px;
  border: 2px rgb(1, 77, 31) groove;
  box-shadow: 0 1px 5px black, 0 1px 4px green;
}

#buttonInit:focus #buttonInit:hover {
  transform: scale(1.1);
  background-color: rgb(1, 77, 31);
  border-color:  rgb(17, 169, 9);
  box-shadow: 0 1px 5px rgb(192, 192, 192), 0 1px 4px rgb(3, 204, 3);
  color: white;
}

/* Imagen logo */
.img-logo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  border-radius: 50%;
}

/* Imagen */
#logo {
  border-radius: 50%;
  border: 2px solid rgb(0, 123, 255);
  margin: 3px auto;
}


/* Contenedores */
#container {
  width: 60vw;
  max-width: 500px;
  max-height:80vh;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5%;
  box-shadow: 0 1px 2px white, 0 0 5px silver, 0 0 10px black;
}

.color {
  padding: 0 20px;
  margin: 1px;
  font-size: 1.3em;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

label, p {
  margin: 7px;
}

.button-div {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 2px 40px;
  margin: 5px auto;
  justify-self: center;
  align-items: center;
}

#addColor {
  padding: 5px 40px;
  margin: 2px auto;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  color: white;
  border: 2px rgb(97, 97, 97) groove;
}

#addColor:hover {
  background-color: rgb(0, 23, 194);
  border-color: rgb(32, 48, 218);
  transform: scale(1.1);
}

#send {
  padding: 5px 55px;
  margin: 2px auto;
  background-color: rgb(0, 255, 4);
  border-radius: 20px;
  border: 2px rgb(8, 111, 0) groove;
}

#send:hover {
  padding: 5px 50px;
  margin: 2px auto;
  background-color: rgb(4, 179, 7);
  border-radius: 20px;
  color: white;
  border: 2px rgb(19, 248, 2) groove;
}

#cuestionOne {
  display: none;
  flex-wrap: wrap;
  background-color: white;
  margin: 50px auto;
  border-radius: 20px;
  padding: 5px 20px;
  box-shadow: 0 1px 2px white, 0 0 5px silver, 0 0 10px black;
  justify-content: center;
  align-items: center;
}

#cuestionOne span {
  margin: 20px;
}

#yes {
  background-color: indigo;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  border: 2px rgb(44, 4, 73) groove;
}

#yes:hover {
  background-color: rgb(44, 4, 73);
  border-color: indigo;
  transform: scale(1.1);
}

#now {
  background-color: rgb(237, 111, 7);
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  border: 2px rgb(146, 89, 8) groove;
}

#now:hover {
  background-color: rgb(146, 89, 8);
  border-color:  rgb(237, 111, 7);
  transform: scale(1.1);
}

#listColor{
  display: none;
  flex-wrap: wrap;
  background-color: white;
  margin: 50px auto;
  border-radius: 20px;
  padding: 5px 20px;
  box-shadow: 0 1px 2px white, 0 0 5px silver, 0 0 10px black;
  justify-content: center;
  align-items: center;
}

#closeList {
  background-color: rgb(1, 105, 223);
  padding: 5px 10px;
  border-radius: 20px;
  border: 2px rgb(4, 66, 189) groove;
}

#closeList:hover {
  background-color: rgb(3, 117, 248);
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  border: 2px rgb(4, 66, 189) groove;
}


/* Párrafos de còdigos de colores seleccionados */
#codeSelection {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  position: absolute;
  padding: 0 5px;
  border-radius: 10px;
  text-align: left;
  right: 0;
  bottom: 0;
}