

.texts__header {
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  position: absolute;
  margin-top: 7rem;
  margin-left: 5rem;
}  

.header--title {
    transition: ease-out;
    transition-duration: 5s;
    transform-origin: right;
    font-size: 7rem;
    font-family: 'Herr Von Muellerhoff', cursive;
    color: rgb(16, 137, 153);
    text-shadow: 1rem 1rem .2rem rgba(17, 206, 244, 0.306);
    margin: 0;
}

.header__title--relevant {
    font-family: 'Herr Von Muellerhoff', cursive;
    color: #1a262e;
    font-weight: bold;
    text-shadow: 1rem 1rem .2rem rgba(18, 19, 19, 0.306);

}

.header--subtitle {
  transition: ease-out;
  transition-duration: 2s; 
  font-size: 2rem;
    padding: 0 12%;
    color: rgb(1, 1, 1);
    text-shadow: -.7rem -.7rem .2rem rgba(115, 226, 248, 0.336);
    margin: 0 auto;
}

.photo {
    width: 23.7%;
    border: 2px white solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.photo--header {
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 10px;
    padding: 0;
}

/* Seccion de mi información */
#my__info {
  /* FF 3.5+*/
-moz-column-count: 4;
-moz-column-gap: 8px;
-moz-column-rule: double;
/*Saf3, Chrome*/
-webkit-column-count: 4;
-webkit-column-gap: 8px;
-webkit-column-rule: double;
column-count: 4;
column-gap: 8px;
column-rule: double;
height: 400px;
color: #092327;
padding: 2%;
height: auto;
color: white;
box-shadow: .1rem .1rem 1rem .1rem rgba(255, 255, 255, 0.678);
background: linear-gradient(360deg, #1f323e 0%, #033c46 100%);
}


/* Columnas divididas */
#articles {
  /* FF 3.5+*/
-moz-column-count: 3;
-moz-column-gap: 8px;
-moz-column-rule: ridge;
/*Saf3, Chrome*/
-webkit-column-count: 3;
-webkit-column-gap: 8px;
-webkit-column-rule: ridge;
column-count: 3;
column-gap: 8px;
column-rule: ridge;
margin: 2% auto;
background-color: white;
}

#card {
  padding: 1%;
  margin: 2% auto;
}

  /* Footer */
  footer{
    margin-top: 5%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #ffffff;
    padding: 2%;
  }
  